<svg class="grid" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="23.8002" height="23.8002" fill="black" fill-opacity="0"/>
    <rect width="23.8002" height="23.8002" fill="black" fill-opacity="0"/>
        <path d="M2.77395 0H0V2.77395H2.77395V0Z" fill="black"/>
        <path d="M2.77395 10.5132H0V13.2871H2.77395V10.5132Z" fill="black"/>
        <path d="M2.77395 21.0264H0V23.8003H2.77395V21.0264Z" fill="black"/>
        <path d="M23.8003 0H21.0264V2.77395H23.8003V0Z" fill="black"/>
        <path d="M23.8003 10.5132H21.0264V13.2871H23.8003V10.5132Z" fill="black"/>
        <path d="M23.8003 21.0264H21.0264V23.8003H23.8003V21.0264Z" fill="black"/>
        <path d="M13.2866 0H10.5127V2.77395H13.2866V0Z" fill="black"/>
        <path d="M13.2866 10.5132H10.5127V13.2871H13.2866V10.5132Z" fill="black"/>
        <path d="M13.2866 21.0264H10.5127V23.8003H13.2866V21.0264Z" fill="black"/>
</svg>
