<svg width="45" height="24" viewBox="0 0 45 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M-0.000293732 11.8998L11.6095 23.7998V13.351L44.6973 13.351V10.4486L11.6095 10.4486V-0.00019455L-0.000293732 11.8998Z" fill="black"/>
</svg>
