<svg class="list" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="23.7767" height="23.8" fill="black" fill-opacity="0"/>
    <rect width="23.7767" height="23.8" fill="black" fill-opacity="0"/>
        <path d="M2.77395 0H0V2.77395H2.77395V0Z" fill="black"/>
        <path d="M23.7765 0H5.52441V2.77395H23.7765V0Z" fill="black"/>
        <path d="M2.77395 10.5127H0V13.2866H2.77395V10.5127Z" fill="black"/>
        <path d="M23.7765 10.5127H5.52441V13.2866H23.7765V10.5127Z" fill="black"/>
        <path d="M2.77395 21.0264H0V23.8003H2.77395V21.0264Z" fill="black"/>
        <path d="M23.7765 21.0264H5.52441V23.8003H23.7765V21.0264Z" fill="black"/>
</svg>
