<svg width="45" height="24" viewBox="0 0 45 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M44.6976 11.9L33.0878 0V10.4488H0V13.3512H33.0878V23.8L44.6976 11.9Z" fill="black"/>
</svg>
