
html{
    overflow-y: scroll;
    font-size: 62.5%;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Colors */
$black: #000000;
$grey: #646464;
$white: #FFFFFF;

/* Extend */

%underline {
    text-decoration: none;
    display: inline;
    box-shadow: inset 0 0px 0 $white, inset 0 -1px 0 $black;
}

body{
    font-family: 'Theinhardt', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    margin: 2.4rem;
    color: $black;
    z-index: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    &.index-page{
        header{
            ul{
                li{
                    &:first-child{
                        a{
                            @extend %underline;
                        }
                    }
                }
            }
        }
    }

    &.login-page{
        background: $black;
        color: $white;
        a, a:visited, a:hover, a:active{
            color: $white;
        }
        h1, h2, h3{
            /*font-size: 2rem;
            line-height: 2.4rem;*/
            line-height: 1.8rem;
            font-size: 1.5rem;
            /*@include media-breakpoint-up(sm) {
                font-size: 2.5rem;
                line-height: 3rem;
            }*/
            @include media-breakpoint-up(lg) {
                font-size: 2rem;
                line-height: 2.4rem;
            }
        }
        header{
            padding-bottom: 2.2rem;
            @include media-breakpoint-up(sm) {
                padding-bottom: 3.6rem;
            }
            @include media-breakpoint-up(lg) {
                padding-bottom: 4.8rem;
            }
        }
        .password{
            margin-top: 10.8rem;
            @include media-breakpoint-up(lg) {
                margin-top: 14.4rem;
            }
            form{
                input{
                    background: $black;
                    color: $white;
                    font-size: 1.5rem;
                    @include media-breakpoint-up(lg) {
                        font-size: 2rem;
                    }
                    ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
                        color: $grey;
                    }
                }
                button[type="submit"]{
                    color: $white;
                    font-size: 1.5rem;
                    padding: 0;
                    @include media-breakpoint-up(lg) {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    /* Grid container */
    .container-fluid{
        //background: #DDD;
        padding: 0;
        .row{
            margin-right: -0.6rem;
            margin-left: -0.6rem;
        }
        .col,
        [class*="col-"]{
            padding-right: 0.6rem;
            padding-left: 0.6rem;
        }
        header{
            ul{
                li{
                    @include media-breakpoint-up(lg) {
                        display: inline-block;
                        margin-right: 2rem;
                    }
                }
            }
        }
    }

    /* Links */
    a{
        color: $black;
        background-color: transparent;
        text-decoration: none;
        &:hover, &:active, &:visited, &:focus{
            color: $black;
            outline: none;
            @extend %underline;
        }
    }

    /* Typography */
    h1, h2, h3, h4, h5{
        display: inline;
        font-weight: normal;
        margin: 0;
    }

    h1, h2, h3, .pagination{
        font-size: 1.5rem;
        line-height: 1.8rem;
        @include media-breakpoint-up(sm) {
            font-size: 2rem;
            line-height: 2.4rem;
        }
        /*@include media-breakpoint-up(md) {
            font-size: 2.5rem;
            line-height: 3rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 2rem;
            line-height: 2.4rem;
        }*/
    }

    h4, h5{
        font-size: 1.5rem;
        line-height: 1.8rem;
        @include media-breakpoint-up(lg) {
            font-size: 2rem;
            line-height: 2.4rem;
        }
    }

    .projectSummary{
        p{
            font-size: 2rem;
            line-height: 2.4rem;
            margin-bottom: 0;
            /*@include media-breakpoint-up(md) {
                font-size: 2.5rem;
                line-height: 3rem;
            }
            @include media-breakpoint-up(lg) {
                font-size: 2rem;
                line-height: 2.4rem;
            }*/
        }
    }

    .underline{
        @extend %underline;
        /*padding-bottom: 1.5rem;
        @include media-breakpoint-up(sm) {
            padding-bottom: 0;
        }*/
    }

    .alignRight{
        text-align: left;
        //padding-bottom: 1.5rem;
        @include media-breakpoint-up(sm) {
            text-align: right;
            padding-bottom: 0;
        }
    }

    /* ul - li reset */
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
        }
    }

    /* Forms */

    form{
        input{
            width: 80%;
            border-radius: 0;
            border: none;
            padding: 1rem 0;
            border-bottom: 1px solid $black;
            &:focus{
                outline: none;
            }
        }
        button{
            &[type="submit"]{
                cursor: pointer;
                font-size: 1.6rem;
                background: none;
                border-radius: 0;
                border: none;
            }
        }
    }

    /* Header */
    header, .workIntroduction{
        padding: 0 0 2.4rem 0;
        // Mobile Menu
        .menu{
            position: absolute;
            right: 0;
            cursor: pointer;
            z-index: $top;
        }
        .mobileMenu{
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: $white;
            z-index: $mid;
            li{
                font-size: 3.5rem;
                line-height: 4.2rem;
            }
            &.openMenu{
                display: block;
            }
        }
        h1, li{
            font-size: 1.5rem;
            line-height: 1.8rem;
            @include media-breakpoint-up(sm) {
                font-size: 2rem;
                line-height: 2.4rem;
            }
            /*@include media-breakpoint-up(lg) {
                font-size: 2rem;
                line-height: 2.4rem;
            }*/
        }
        button{
            font-size: 2rem;
            line-height: 2.4rem;
            cursor: pointer;
            border: none;
            background: none;
            padding: 0;
            &:focus{
                outline: none;
            }
            &:hover{
                @extend %underline;
            }
        }
        #nav-icon{
            width: 2rem;
            height: 2rem;
            background: $black;
        }
    }

    /* Index page */
    .main{
        padding: 0;
        margin-top: 3.6rem;
        @include media-breakpoint-up(sm) {
            margin-top: 8.4rem;
        }
        .introduction{
            margin-top: 3rem;
        }
        .contacts{
            //margin-top: 10.8rem;
            @include media-breakpoint-up(sm) {
                margin-bottom: 10.8rem;
            }
            &.tableLink{
                a{
                    span{
                        opacity: 0;
                    }
                }
            }
            &.last{
                margin-top: 0;
                margin-bottom: 6rem;
            }
        }
        .tableLink, .tableWorkLink{
            a{
                display: inline;
                width: 100%;
            }
            .imgBlock{
                position: relative;
            }
            a:hover{
                @extend %underline;
                span{
                    opacity: 0;
                    @include media-breakpoint-up(sm) {
                        opacity: 1;
                    }
                }
            }
        }
        .gridLabel, .listLabel{
            cursor: pointer;
            &.toggleUnderline{
                @extend %underline;
            }
        }
        .work{
            position: relative;
            @include media-breakpoint-up(sm) {
                padding-top: 2.4rem;
                margin-top: 8.4rem;
            }
            .hoverImg{
                max-width: 28rem;
            }
            .gridIcon{
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                border: 1px solid $black;
                border-radius: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                z-index: $top;
                svg{
                    position: absolute;
                    top: 0;
                }
                .list{
                    opacity: 0;
                }
                &:hover{
                    background: $black;
                }
                &.toggleIcon{
                    background: $black;
                    .grid{
                        opacity: 0;
                    }
                    .list{
                        opacity: 1;
                    }
                }
            }
            .tableImg{
                position: absolute;
                top: -2.5rem;
                left: 0.6rem;
                z-index: $top;
            }
            .workRows{
                opacity: 1;
                @include media-breakpoint-down(md) {
                    display: none;
                }
                &.hideList{
                    opacity: 0;
                    height: 0;
                }
            }
            .gridImg{
                .col-md-12{
                    .col,
                    [class*="col-"] {
                        padding-right: 0.6rem;
                        padding-left: 0.6rem;
                    }
                }
                @include media-breakpoint-up(lg) {
                    opacity: 0;
                    max-height: 0;
                    overflow: hidden;
                }
                &.showGrid{
                    opacity: 1;
                    max-height: 200rem;
                }
                a{
                    display: block;
                    line-height: 0;
                    margin-bottom: 1.2rem;
                }
                img{
                    width: 100%;
                }
            }
        }
        .workIntroduction{
            h2{
                font-size: 2rem;
                line-height: 2.4rem;
                @include media-breakpoint-up(sm) {
                    font-size: 2.5rem;
                    line-height: 3rem;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 2rem;
                    line-height: 2.4rem;
                }
            }
        }
        // Project summary
        .projectSummary{
            display: none;
            /*position: fixed;
            display: none;
            left: 2rem;
            top: 0;
            right: 2rem;
            bottom: 0;*/
            &.showSummary{
                display: block;
            }
            /*#closeSummary{
                cursor: pointer;
                line-height: 3rem;
            }*/
        }

        .workGallery{
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
            @include media-breakpoint-up(sm) {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
            div{
                &:hover{
                    p{
                        opacity: 1;
                    }
                }
            }
            @include media-breakpoint-up(sm) {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
            @include media-breakpoint-up(md) {
                padding-top: 8.4rem;
                padding-bottom: 7.4rem;
            }
            .firstImg{
                padding-bottom: 0.8rem;
                @include media-breakpoint-up(sm) {
                    padding-bottom: 3rem;
                }
                @include media-breakpoint-up(md) {
                    padding-bottom: 0;
                }
            }
            img{
                width: 100%;
            }
            a{
                text-decoration: none;
                box-shadow: none;
            }
            p{
                display: none;
                font-size: 1.5rem;
                line-height: 1.8rem;
                opacity: 0;
                margin-top: 0.8rem;
                margin-bottom: 0;
                @include media-breakpoint-up(sm) {
                    display: block;
                }
            }
            .bottomLeft{
                margin-top: 0;
                @include media-breakpoint-up(md) {
                    margin-top: 30rem;
                }
            }
            .topRight{
                margin-top: 0;
                @include media-breakpoint-up(md) {
                    margin-top: 22rem;
                }
            }
        }
        .pagination{
            span{
                @extend %underline;
                &.grey{
                    opacity: 0.25;
                }
            }
        }
    }
    .bumper{
        height: 17.2rem;
    }
    footer{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        p{
            margin: 0;
            font-size: 1.5rem;
            line-height: 1.8rem;
        }
        .footWrap{
            opacity: 0.25;
            position: relative;
        }
    }
}
