{% extends 'layout/layout' %}

{% block content %}

    <div class="row introduction">
        <div class="col-4 d-none d-sm-block">

        </div>
        <div class="col-12 col-sm-8">
            <h2>{{ entry.introduction|nl2br }}</h2>
        </div>
    </div>

    <div class="row contacts tableLink">
        <div class="col-2 col-sm-4 d-none d-sm-block">
            <h3><a href="tel:{{ entry.telephone|replace({' ':'','(':'',')':'' }) }}">T<span>elephone</span></a></h3>
        </div>
        <div class="col-10 col-sm-8">
            <h3><a href="tel:{{ entry.telephone|replace({' ':'','(':'',')':'' }) }}">{{ entry.telephone }}</a></h3>
        </div>
    </div>

    <div class="row contacts tableLink last">
        <div class="col-2 col-sm-4 d-none d-sm-block">
            <h3><a href="mailto:{{ entry.email }}">E<span>mail</span></a></h3>
        </div>
        <div class="col-10 col-sm-8">
            <h3><a href="mailto:{{ entry.email }}">{{ entry.email }}</a></h3>
        </div>
    </div>

    <section class="work">
        <div class="gridIcon d-none d-lg-block">
            {#{% include 'includes/icons/grid' %}
            {% include 'includes/icons/list' %}#}
        </div>
        <div class="row workRows">
            <div class="col-4 d-none d-sm-block">
            </div>
            <div class="col-sm-6">
                <h5 class="underline">Recent Work</h5>
            </div>
            <div class="col-sm-2 d-none d-sm-block alignRight">
                <h5 class="underline">Year</h5>
            </div>
        </div>

        {% set work = craft.entries.section('work').limit(9) %}
        {# List view #}
        <div class="row workRows">
            <div class="col-4 d-none d-sm-block imgBlock">
                {% for work in work.all() %}
                {% set hero = work.heroImage %}
                    {% set heroImage = hero.image.one() %}
                    <img src="{{ heroImage.url('general') }}" id="{{ work.title|replace(' ','')|camel }}" class="tableImg hoverImg" alt="{{ work.title }}" title="{{ work.title }}" />
                {% endfor %}
            </div>
            <div class="col-8">
                {% for work in work.all() %}
                <div id="#{{ work.title|replace(' ','')|camel }}" class="row tableWorkLink">
                    <div class="col-sm-9">
                        <h5><a href="{{ work.url }}">{{ work.title }}</a></h5>
                    </div>
                    <div class="col-sm-3 d-none d-sm-block alignRight">
                        <h5><a href="{{ work.url }}">{{ work.year }}</a></h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {# Grid view #}
        <div class="row gridImg">
            <div class="col-lg-1">
            </div>
            <div class="col-md-12 col-lg-11">
                <div class="row">
                    {% for work in work.all() %}
                    <div class="col-6 col-sm-4">
                            {% set hero = work.heroImage %}
                            {% set heroImage = hero.image.one() %}
                            <a href="{{ work.url }}"><img src="{{ heroImage.url('general') }}" alt="{{ work.title }}" title="{{ work.title }}" /></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <br />

    <div class="row">
        <div class="col-4">
            <h5 class="underline">Experience</h5>
        </div>
        <div class="col-6 d-none d-sm-block">
            <h5 class="underline">Position</h5>
        </div>
        <div class="col-2 d-none d-sm-block alignRight">
            <h5 class="underline">Period</h5>
        </div>
    </div>

    <div class="row">
    {% for exp in entry.experience.all() %}
        {% if exp.experienceUrl|length %}
            <div class="col-12">
                <div class="row tableLink">
                    <div class="col-12 col-sm-4">
                        <h5><a href="{{ exp.experienceUrl }}" target="_blank" rel="noreferrer noopener">{{ exp.experience }}</a></h5>
                    </div>
                    <div class="col-12 col-sm-5 col-md-6">
                        <h5><a href="{{ exp.experienceUrl }}" target="_blank" rel="noreferrer noopener">{{ exp.position }}</a></h5>
                    </div>
                    <div class="col-12 col-sm-3 col-md-2 alignRight">
                        <h5><a href="{{ exp.experienceUrl }}" target="_blank" rel="noreferrer noopener">{{ exp.period }}</a></h5>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12 col-sm-4">
                <h5>{{ exp.experience }}</h5>
            </div>
            <div class="col-12 col-sm-5 col-md-6">
                <h5>{{ exp.position }}</h5>
            </div>
            <div class="col-12 col-sm-3 col-md-2 alignRight">
                <h5>{{ exp.period }}</h5>
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <br />

    <div class="row">
        <div class="col-4">
            <h5 class="underline d-none d-sm-block">NZ Best Awards</h5>
        </div>
        <div class="col-6 d-none d-sm-block">
            <h5 class="underline">Category</h5>
        </div>
        <div class="col-2 d-none d-sm-block alignRight">
            <h5 class="underline">Year</h5>
        </div>
    </div>

    <div class="row">
    {% for award in entry.awards.all() %}
        {% if award.awardsUrl|length %}
            <div class="col-12 col-sm-4 tableLink d-none d-sm-block">
                <h5><a href="{{ award.awardsUrl }}" target="_blank" rel="noreferrer noopener">{{ award.awards }}</a></h5>
            </div>
            <div class="col-12 col-sm-5 col-md-6 tableLink d-none d-sm-block">
                <h5><a href="{{ award.awardsUrl }}" target="_blank" rel="noreferrer noopener">{{ award.category }}</a></h5>
            </div>
            <div class="col-12 col-sm-3 col-md-2 tableLink alignRight d-none d-sm-block">
                <h5><a href="{{ award.awardsUrl }}" target="_blank" rel="noreferrer noopener">{{ award.year }}</a></h5>
            </div>
        {% else %}
            <div class="col-12 col-sm-4 d-none d-sm-block">
                <h5>{{ award.awards }}</h5>
            </div>
            <div class="col-12 col-sm-5 col-md-6 d-none d-sm-block">
                <h5>{{ award.category }}</h5>
            </div>
            <div class="col-12 col-sm-3 col-md-2 alignRight d-none d-sm-block">
                <h5>{{ award.year }}</h5>
            </div>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}
