
    <footer>
        <div class="container-fluid footWrap">
            <div class="row">
                <div class="col-sm-5">
                    <p>&copy; Copyright {{ siteName }}</p>
                </div>
                <div class="col-sm-7">
                    {% set entry = craft.entries.section('index').one() %}
                    <p><a href="mailto:{{ entry.email }}">{{ entry.email }}</a></p>
                </div>
            </div>
        </div>
    </footer>
