
    <header class="row">
        <div class="col-5 col-sm-5">
            <h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
        </div>
        <div class="col-7 d-none d-sm-block d-md-block col-sm-7">
            {% set navigation = craft.entries.section('navigation') %}
            <ul>
            {% for navItem in navigation.all() %}
                {% set navLink = navItem.navigation.one() %}
                <li>
                    <a class="{{ navLink.id == entry.id ? 'underline' }}" href="{{ navLink.url }}">{{ navLink.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="d-block d-sm-none">
            <div class="menu">
                <svg width="27" height="12" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="1.25" x2="27" y2="1.25" stroke="black" stroke-width="1.5"/>
                    <line y1="11.25" x2="27" y2="11.25" stroke="black" stroke-width="1.5"/>
                </svg>
            </div>
            <ul class="mobileMenu">
            {% for navItem in navigation.all() %}
                {% set navLink = navItem.navigation.one() %}
                <li>
                    <a href="{{ navLink.url }}">{{ navLink.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </header>
