
    <div class="row contacts">
        <div class="col-sm-5"> {# d-none d-sm-inline-block #}
            <h3 class="d-none d-sm-inline-block"><a href="tel:{{ entry.telephone|replace({' ':'','(':'',')':'' }) }}">{{ entry.telephone }}</a></h3><br />
            <h3 class="d-none d-sm-inline-block"><a href="mailto:{{ entry.email }}">{{ entry.email }}</a></h3>
            <h3 class="d-inline-block d-sm-none underline">Personal</h3>
            <br class="d-inline-block d-sm-none" />
            <br class="d-inline-block d-sm-none" />
            <h2 class="d-block d-sm-none">{{ entry.introduction|nl2br }}</h2>
        </div>
        <div class="col-sm-7">
            <h2 class="d-none d-sm-inline-block">{{ entry.introduction|nl2br }}</h2>
            <br class="d-inline-block d-sm-none" />
            <h3 class="d-inline-block d-sm-none underline">Contact</h3>
            <br class="d-inline-block d-sm-none" />
            <br class="d-inline-block d-sm-none" />
            <h3 class="d-inline-block d-sm-none"><a href="tel:{{ entry.telephone|replace({' ':'','(':'',')':'' }) }}">{{ entry.telephone }}</a></h3><br />
            <h3 class="d-inline-block d-sm-none"><a href="mailto:{{ entry.email }}">{{ entry.email }}</a></h3>
            <br class="d-inline-block d-sm-none" />
            <br class="d-inline-block d-sm-none" />
            <br class="d-inline-block d-sm-none" />
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <h5 class="underline">Experience</h5>
        </div>
        <div class="col-5 d-none d-sm-inline-block">
            <h5 class="underline">Position</h5>
        </div>
        <div class="col-2 d-none d-sm-inline-block alignRight">
            <h5 class="underline">Period</h5>
        </div>
    </div>

    <div class="row">
    {% for exp in entry.experience.all() %}
        {% if exp.experienceUrl|length %}
            <div class="col-12">
                <div class="row tableLink">
                    <div class="col-12 col-sm-5">
                        <br class="d-inline-block d-sm-none" />
                        <h5><a href="{{ exp.experienceUrl }}" target="_blank" rel="noreferrer noopener">{{ exp.experience }}</a></h5>
                    </div>
                    <div class="col-12 col-sm-4 col-md-5">
                        <h5>{{ exp.position }} <span class="d-inline-block d-sm-none">({{ exp.period }})</span></h5>
                    </div>
                    <div class="col-12 col-sm-3 col-md-2 d-none d-sm-inline-block alignRight">
                        <h5>{{ exp.period }}</h5>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12 col-sm-5">
                <br class="d-inline-block d-sm-none" />
                <h5>{{ exp.experience }}</h5>
            </div>
            <div class="col-12 col-sm-4 col-md-5">
                <h5>{{ exp.position }} <span class="d-inline-block d-sm-none">({{ exp.period }})</span></h5>
            </div>
            <div class="col-12 col-sm-3 col-md-2 d-none d-sm-inline-block alignRight">
                <h5>{{ exp.period }}</h5>
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <br /><br />

    <div class="row">
        <div class="col-5">
            <h5 class="underline">Education</h5>
        </div>
        <div class="col-5 d-none d-sm-inline-block">
            <h5 class="underline">Qualification</h5>
        </div>
        <div class="col-2 d-none d-sm-inline-block alignRight">
            <h5 class="underline">Period</h5>
        </div>
    </div>

    <div class="row">
        {% for edu in entry.education.all() %}
        <div class="col-12 col-sm-5">
            <br class="d-inline-block d-sm-none" />
            <h5>{{ edu.education }}</h5>
        </div>
        <div class="col-12 col-sm-4 col-md-5">
            <h5>{{ edu.qualification }} <span class="d-inline-block d-sm-none">({{ edu.period }})</span></h5>
        </div>
        <div class="col-12 col-sm-3 col-md-2 d-none d-sm-inline-block alignRight">
            <h5>{{ edu.period }}</h5>
        </div>
        {% endfor %}
    </div>

    <br /><br />

    <div class="row">
        <div class="col-sm-12 col-md-5">
            <h5 class="underline">New Zealand Best Awards</h5>
        </div>
        <div class="col-5 d-none d-sm-inline-block">
            <h5 class="underline">Category</h5>
        </div>
        <div class="col-2 d-none d-sm-inline-block alignRight">
            <h5 class="underline">Year</h5>
        </div>
    </div>

    <div class="row">
    {% for award in entry.awards.all() %}
        {% if award.awardsUrl|length %}
            <div class="col-12 col-sm-5 tableLink d-none d-sm-inline-block">
                <h5><a href="{{ award.awardsUrl }}" target="_blank" rel="noreferrer noopener">{{ award.awards }}</a></h5>
            </div>
            <div class="col-12 col-sm-4 col-md-5 tableLink d-none d-sm-inline-block">
                <h5>{{ award.category }}</h5>
            </div>
            <div class="col-12 col-sm-3 col-md-2 tableLink d-none d-sm-inline-block alignRight">
                <h5>{{ award.year }}</h5>
            </div>
            {# Mobile only #}
            <div class="col-12 tableLink d-block d-sm-none">
                <br />
                <h5><a href="{{ award.awardsUrl }}" target="_blank" rel="noreferrer noopener">{{ award.category }}</a></h5>
            </div>
            <div class="col-12 tableLink d-block d-sm-none">
                <h5><a href="{{ award.awardsUrl }}" target="_blank" rel="noreferrer noopener">{{ award.awards }} ({{ award.year }})</a></h5>
            </div>
        {% else %}
            <div class="col-12 col-sm-5 d-none d-sm-inline-block">
                <h5>{{ award.awards }}</h5>
            </div>
            <div class="col-12 col-sm-4 col-md-5 d-none d-sm-inline-block">
                <h5>{{ award.category }}</h5>
            </div>
            <div class="col-12 col-sm-3 col-md-2 d-none d-sm-inline-block alignRight">
                <h5>{{ award.year }}</h5>
            </div>
            {# Mobile only #}
            <div class="col-12 d-block d-sm-none">
                <br />
                <h5>{{ award.category }}</h5>
            </div>
            <div class="col-12 d-block d-sm-none">
                <h5>{{ award.awards }} ({{ award.year }})</h5>
            </div>
        {% endif %}
    {% endfor %}
    </div>
