<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <title>{{ siteName }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
        <meta name="referrer" content="origin-when-cross-origin" />

        {# Asset Version #}
        {% set assetVersion = 0.026 %}

        {# CSS #}
        {% do view.registerCssFile("/assets/css/site.min.css?v="~assetVersion) %}
        {% do view.registerCssFile("/assets/css/bootstrap-grid.min.css?v="~assetVersion) %}

        {# Jquery #}
        {% do view.registerJsFile("/assets/js/jquery-3.3.1.min.js?v=") %}

        {# JS #}
        {% do view.registerJsFile("/assets/js/main.min.js?v="~assetVersion) %}

    </head>
<body class="{{ entry is defined ? entry.title|lower : "jeremy" }}-page">

    {#{% cache for 1 day %}#}

        <div class="container-fluid">
            {# Include Header #}
            {% include 'includes/header' %}

            <section class="main">
                {% block content %}
                {% endblock %}
            </section>

            <div class="bumper">
            </div>

        </div>
        {# Include Header #}
        {% include 'includes/footer' %}

    {#{% endcache %}#}

</body>
</html>
