<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <title>{{ siteName }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
        <meta name="referrer" content="origin-when-cross-origin" />

        {# Asset Version #}
        {% set assetVersion = 0.026 %}

        {# CSS #}
        {% do view.registerCssFile("/assets/css/site.min.css?v="~assetVersion) %}
        {% do view.registerCssFile("/assets/css/bootstrap-grid.min.css?v="~assetVersion) %}

        {# Jquery #}
        {% do view.registerJsFile("/assets/js/jquery-3.3.1.min.js?v=") %}

        {# JS #}
        {% do view.registerJsFile("/assets/js/main.min.js?v="~assetVersion) %}

    </head>
{% if craft.app.request.getParam('password') == 'password' %}
    <body class="{{ entry is defined ? entry.title|lower : "jeremy" }}-page">

        {#{% cache for 1 day %}#}

        <div class="container-fluid">
            {# Include Header #}
            {% include 'includes/header' %}

            <section class="main">
                {% block content %}
                {% endblock %}
            </section>

            <div class="bumper">
            </div>

        </div>
        {# Include Footer #}
        {% include 'includes/footer' %}

        {#{% endcache %}#}

    </body>
{% else %}
    <body class="login-page">
        <div class="container-fluid">
            <header class="row">
                <div class="col-10 col-sm-5">
                    {#<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>#}
                </div>
                <div class="col-10 col-sm-7">
                    <h1>{{ siteName }}</h1><br />
                    <h2>Designer &amp; Art Director</h2>
                </div>
            </header>

            <div class="row introduction">
                <div class="col-5">
                    <h3><a href="tel:{{ entry.telephone|replace({' ':'','(':'',')':'' }) }}">{{ entry.telephone }}</a></h3><br />
                    <h3><a href="mailto:{{ entry.email }}">{{ entry.email }}</a></h3>
                </div>
                <div class="col-7 d-none d-sm-block">
                    <h4>{{ entry.introduction|nl2br }}</h4>
                </div>
            </div>

            <div class="row password">
                <div class="col-5 d-none d-sm-block">
                </div>
                <div class="col-7 col-sm-4">
                    <form action="{{ craft.app.request.absoluteUrl() }}" method="POST" accept-charset="utf-8" class="passwordForm">
                        {{ csrfInput() }}
                        <input id="inputPass" type="password" name="password" placeholder="Password" value="">
                        <br />
                        {#<button type="submit">Enter</button>#}
                    </form>
                </div>
            </div>
        </div>
    </body>
{% endif %}
</html>
