{% extends 'layout/layout' %}

{% block content %}

    {% set work = craft.entries.section('works').one() %}

    <div class="row introduction workIntroduction">
        <div class="col-5 d-none d-sm-block">
            <button id="view">Gallery View</button>
        </div>
        <div class="col-12 col-sm-7">
            <button id="summary">Project Info +</button>
            <br /><br />
            <div class="projectSummary">
                <p>
                    {{ work.projectSummary|nl2br }}
                </p>
            </div>
        </div>
    </div>

    {#<div class="row projectSummary">
        <div class="col-12">
            <div class="closeWrap">
                <p id="closeSummary">Close</p>
            </div>
        </div>
        <div class="col-12">
            <p>
                {{ work.projectSummary|nl2br }}
            </p>
        </div>
    </div>#}

        {% set gallery = entry.gallery %}
        {% for image in gallery.all() %}
            {% if image.type == "doubleImage" %}
            {% set left = image.leftImage.one() %}
            {% set right = image.rightImage.one() %}

                {% if image.display.value == "leftBottom4RightTop6" %}
                <div class="row workGallery">
                    <div class="col-12 col-md-6">
                        {% if left %}
                            <div class="row">
                                <div class="col-12 col-md-6 bottomLeft firstImg">
                                    <a data-fancybox="gallery" href="{{ left.getUrl('general') }}">
                                        <img src="{{ left.getUrl('general') }}" alt="{{ work.title }}" />
                                        <p>
                                            + Enlarge
                                        </p>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6">
                        {% if right %}
                            <a data-fancybox="gallery" href="{{ right.getUrl('general') }}">
                                <img src="{{ right.getUrl('general') }}" alt="{{ work.title }}" />
                                <p>
                                    + Enlarge
                                </p>
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% elseif image.display.value == "left5Right5Right" %}
                <div class="row workGallery">
                    <div class="col-12 col-md-6">
                        {% if left %}
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-12 col-md-10 firstImg">
                                    <a data-fancybox="gallery" href="{{ left.getUrl('general') }}">
                                        <img src="{{ left.getUrl('general') }}" alt="{{ work.title }}" />
                                        <p>
                                            + Enlarge
                                        </p>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6">
                        {% if right %}
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-12 col-md-10">
                                    <a data-fancybox="gallery" href="{{ right.getUrl('general') }}">
                                        <img src="{{ right.getUrl('general') }}" alt="{{ work.title }}" />
                                        <p>
                                            + Enlarge
                                        </p>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% elseif image.display.value == "letTop4RightTop5" %}
                <div class="row workGallery">
                    <div class="col-12 col-md-6">
                        {% if left %}
                            <div class="row">
                                <div class="col-12 col-md-6 firstImg">
                                    <a data-fancybox="gallery" href="{{ left.getUrl('general') }}">
                                        <img src="{{ left.getUrl('general') }}" alt="{{ work.title }}" />
                                        <p>
                                            + Enlarge
                                        </p>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6">
                        {% if right %}
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-12 col-md-8">
                                    <a data-fancybox="gallery" href="{{ right.getUrl('general') }}">
                                        <img src="{{ right.getUrl('general') }}" alt="{{ work.title }}" />
                                        <p>
                                            + Enlarge
                                        </p>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% elseif image.display.value == "left4Right4Left" %}
                <div class="row workGallery">
                    <div class="col-12 col-md-4">
                        {% if left %}
                            <div class="row">
                                <div class="col-12 col-md-11 firstImg">
                                    <a data-fancybox="gallery" href="{{ left.getUrl('general') }}">
                                        <img src="{{ left.getUrl('general') }}" alt="{{ work.title }}" />
                                        <p>
                                            + Enlarge
                                        </p>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-4">
                        {% if right %}
                            <div class="row">
                                <div class="col-12 col-md-11">
                                    <a data-fancybox="gallery" href="{{ right.getUrl('general') }}">
                                        <img src="{{ right.getUrl('general') }}" alt="{{ work.title }}" />
                                        <p>
                                            + Enlarge
                                        </p>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% elseif image.display.value == "leftTop6RightBottom3" %}
                <div class="row workGallery">
                    <div class="col-12 col-md-6">
                        {% if left %}
                            <div class="row">
                                <div class="col-12 firstImg">
                                    <a data-fancybox="gallery" href="{{ left.getUrl('general') }}">
                                        <img src="{{ left.getUrl('general') }}" alt="{{ work.title }}" />
                                        <p>
                                            + Enlarge
                                        </p>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6">
                        {% if right %}
                            <div class="row">
                                <div class="col-md-4">
                                </div>
                                <div class="col-12 col-md-8 topRight">
                                    <a data-fancybox="gallery" href="{{ right.getUrl('general') }}">
                                        <img src="{{ right.getUrl('general') }}" alt="{{ work.title }}" />
                                        <p>
                                            + Enlarge
                                        </p>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

            {% elseif image.type == "singleImage" %}
            <div class="row workGallery">
                <div class="col-12">
                    {% set img = image.image.one() %}
                    {% set display = image.display %}
                    {% if img %}
                        <div class="row">
                            {% if display.value == "left9" %}
                                <div class="col-12 col-md-9">
                                    <a data-fancybox="gallery" href="{{ img.getUrl('general') }}">
                                        <img src="{{ img.getUrl('general') }}" alt="{{ work.title }}" />
                                        <p>
                                            + Enlarge
                                        </p>
                                    </a>
                                </div>
                            {% elseif display.value == "right9" %}
                                <div class="col-md-3">
                                </div>
                                <div class="col-12 col-md-9">
                                    <a data-fancybox="gallery" href="{{ img.getUrl('general') }}">
                                        <img src="{{ img.getUrl('general') }}" alt="{{ work.title }}" />
                                        <p>
                                            + Enlarge
                                        </p>
                                    </a>
                                </div>
                            {% elseif display.value == "fullWidth" %}
                                <div class="col-12">
                                    <a data-fancybox="gallery" href="{{ img.getUrl('general') }}">
                                        <img src="{{ img.getUrl('general') }}" alt="{{ work.title }}" />
                                        <p>
                                            + Enlarge
                                        </p>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}

        {# Set parameters for prev/next elements list #}
        {% set paginate = craft.entries.section('works') %}

        {# Get the prev/next elements #}
        {% set prevEntry = entry.getPrev(paginate) %}
        {% set nextEntry = entry.getNext(paginate) %}

        <div class="row pagination">
            <div class="col-5">
                {% if prevEntry %}
                    <a href="{{ prevEntry.url }}">
                        <span>Previous Project</span>
                        <br />
                        {{ prevEntry.title }}
                    </a>
                {% else %}
                    <span class="grey">Previous Project</span>
                {% endif %}
            </div>
            <div class="col-7">
                {% if nextEntry %}
                    <a href="{{ nextEntry.url }}">
                        <span>Next Project</span>
                        <br />
                        {{ nextEntry.title }}
                    </a>
                {% else %}
                    <span class="grey">Next Project</span>
                {% endif %}
            </div>
        </div>

{% endblock %}
