{% extends 'layout/layout' %}

{% block content %}

    <div class="row">
        <div class="col-sm-5 d-none d-sm-block"> {# d-none d-sm-block #}
            <h2 class="gridLabel">Grid View</h2>
        </div>
        <div class="col-sm-7 d-none d-sm-block">
            <h2 class="listLabel toggleUnderline">List View</h2>
        </div>
    </div>

    <section class="work">
        {#<div class="gridIcon d-none d-lg-block">
            {% include 'includes/icons/grid' %}
            {% include 'includes/icons/list' %}
        </div>#}
        <div class="row workRows">
            <div class="col-5"> {# d-none d-sm-block #}
                <h5 class="underline">Recent Work</h5>
            </div>
            <div class="col-sm-5">
                <h5 class="underline">Type</h5>
            </div>
            <div class="col-sm-2 d-none d-sm-block alignRight">
                <h5 class="underline">Year</h5>
            </div>
        </div>

        {% set work = craft.entries.section('works').limit(9) %}
        {# List view #}
        <div class="row workRows">
            {#<div class="col-4 d-none d-sm-block imgBlock">
                {% for work in work.all() %}
                {% set hero = work.heroImage %}
                    {% set heroImage = hero.image.one() %}
                    <img src="{{ heroImage.url('general') }}" id="{{ work.title|replace(' ','')|camel }}" class="tableImg hoverImg" alt="{{ work.title }}" title="{{ work.title }}" />
                {% endfor %}
            </div>#}
            {% for work in work.all() %}
                <div class="col-5">
                    <h5><a href="{{ work.url }}">{{ work.title }}</a></h5>
                </div>
                <div class="col-sm-5">
                    <h5>{#<a href="{{ work.url }}">#}{{ work.workType }}{#</a>#}</h5>
                </div>
                <div class="col-sm-2 d-none d-sm-block alignRight">
                    <h5>{#<a href="{{ work.url }}">#}{{ work.year }}{#</a>#}</h5>
                </div>
            {% endfor %}
        </div>

        {# Grid view #}
        <div class="row gridImg">
            <div class="col-lg-5">
            </div>
            <div class="col-md-12 col-lg-7">
                <div class="row">
                    {% for work in work.all() %}
                    <div class="col-12 col-sm-6">
                        {% set hero = work.heroImage %}
                        {% set heroImage = hero.image.one() %}
                        <a href="{{ work.url }}"><img src="{{ heroImage.url('general') }}" alt="{{ work.title }}" title="{{ work.title }}" /></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
